/*

My Custom CSS
*/


/* --------------------------------------
   Layout
   -------------------------------------- */

/* --------------------------------------
   Typography
   -------------------------------------- */

body{
    -webkit-font-smoothing: antialiased;
    text-rendering:optimizelegibility;
}


.well .page-header {
    margin-top: 0;
}

#bigSearch ul li{
    list-style: none;
}

#bigSearch .add_design_btn ul li{
    margin-top: 10px;
}

#bigSearch ul li a{
    font-weight: light;
    font-size: 12px;
    list-style: none;
    color: #999999;
    text-decoration: none;
}
#bigSearch ul li a:hover{
    color:#333333;
}

.product-name, .product-price{
    color: #4f4f4f;
    margin:5px 0 5px 10px ;

}

#productsList .product-name{
    font-weight: light;
    font-size: 15px;
}

#productsList .product-price{
    font-weight: bold;
    font-size: 12px;
}

#top4 .designer-store, .designer-detail{
    margin: 0px 5px 7px 5px;
    color: #4f4f4f;
}
#top4 .designer-store{
    font-weight: bold;
    font-size: 12px;
}

#top4 .designer-detail{
    font-weight: light;
    font-size: 10px;
}

#top4 .designer-area{
    margin-bottom: 10px;
}

#latestBlog .blog-title{
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #4f4f4f;
}
#latestBlog .blog-subject{
    font-weight: light;
    font-size: 12px;
    color: #4f4f4f;
}

#testomonial .testo-txt p{
    font-weight: light;
    font-size: 12px;
    color: #4f4f4f;
    margin-left: 5px;

}

.testo-area{
    margin-bottom: 20px;
}

#buttomnav .footer-title{
    margin: 50px 0 0 0;
    color:#ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
}

/*
Component Styling

*/


/* --------------------------------------
   Navbar
   -------------------------------------- */

    .navbar-brand{
        padding:13px 15px;
    }

/* --------------------------------------
   Carousel
   -------------------------------------- */
    #myCarousel .item
    {
        /*Default background size*/
        height: 400px;
    }

    .carousel-caption
    {
        font-size:24px;
    }
    .carousel-caption h4
    {
        font-size: 32px;
    }


#slide1
    {
        background: url('../../images/carousel_medium.png') top left no-repeat;
    }

    #slide2
    {
        background: url('../../images/carousel_medium.png') top left no-repeat;
    }

    #feature_image{
        background-image: url('../../images/carousel_medium.png');
    }


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.seemore-big a{
    font-weight: light;
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}

.seemore-big a:hover{
    color: #4f4f4f;

}

.sectionTitle{
    font-weight: bold;
    font-size: 14px;
    color: #4f4f4f;
}

#latestBlog, #top4 .sectionTitle{
    margin-top: 30px;
}

#buttomnav{
    background-repeat: repeat-y ;
    background-color: #252525;
}


#bigSearch, #productsList     {
    font-family: 'Arial';

}

.well, #bigSearch , #productsList, #latestNews, #features, #testomonial, #buttomnav {
    margin-top: 30px;
    margin-bottom: 40px;
}

.alert {
    margin-top: 20px;
    display: none;
}

.hr1 hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgb(79, 79, 79), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgb(79, 79, 79), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgb(79, 79, 79), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgb(79, 79, 79), rgba(0,0,0,0));
    margin-top: 10px;
    margin-bottom: 30px;
}

.hr2{
    color: #fcb13a;
    margin-top: 5px;
}

ul{
    padding: 0px;
}

.buttomnav-link li{
    height: 16px;
    list-style: none;
    font-weight: light;
    font-size: 12px;
    margin:5px ;

}

.buttomnav-link li a{
    text-decoration: none;
    color: #ffffff;
}


.buttomnav-link li a:hover{
    color: #357ebd;
}

#buttomnav .footer-buttom {
    margin-bottom: 50px;
}



.soc{
    margin-bottom: 15px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

    #myCarousel .item
    {
        /*Default background size*/
        height: 310px;
    }

    #slide1
    {
        background: url('../../images/carousel_small.png') top left no-repeat;
    }

    #slide2
    {
        background: url('../../images/carousel_small.png') top left no-repeat;
    }

    #feature_image{
        background-image: url('../../images/carousel_small.png');
    }
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    #myCarousel
    {
        margin-top:16px ;
    }

    #myCarousel .item
    {
        /*Default background size*/
        height: 310px;
    }

    .carousel-caption
    {
        font-size:16px;
    }
    .carousel-caption h4
    {
        font-size: 22px;
    }


    #slide1
    {
        background: url('../../images/carousel_small.png') top left no-repeat;
    }

    #slide2
    {
        background: url('../../images/carousel_small.png') top left no-repeat;
    }

    #feature_image{
        background-image: url('../../images/carousel_small.png');
    }
}


/* Large desktop */
@media (min-width: 1200px) {

    #myCarousel .item
    {
        /*Default background size*/
        height: 400px;
    }

    #slide1
    {
        background: url('../../images/carousel_large.png') top left no-repeat;
    }

    #slide2
    {
        background: url('../../images/carousel_large.png') top left no-repeat;
    }

    #feature_image{
        background-image: url('../../images/carousel_large.png');
    }
	
}