/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

/* --------------------------------------
   Typography
   -------------------------------------- */

body{
    -webkit-font-smoothing: antialiased;
    text-rendering:optimizelegibility;
}


.well .page-header {
    margin-top: 0;
}



/* --------------------------------------
   Navbar
   -------------------------------------- */

    .navbar-brand{
        padding:13px 15px;
    }

/* --------------------------------------
   Carousel
   -------------------------------------- */
    #myCarousel .item
    {
        /*Default background size*/
        height: 400px;
    }

    .carousel-caption
    {
        font-size:24px;
    }
    .carousel-caption h4
    {
        font-size: 32px;
    }


#slide1
    {
        background: url('../../images/carousel_medium.png') top left no-repeat;
    }

    #slide2
    {
        background: url('../../images/carousel_medium.png') top left no-repeat;
    }


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.well, #bigSearch {
    margin: 10px 0px;
}

.alert {
    margin-top: 20px;
    display: none;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

    #myCarousel .item
    {
        /*Default background size*/
        height: 310px;
    }

    #slide1
    {
        background: url('../../images/carousel_small.png') top left no-repeat;
    }

    #slide2
    {
        background: url('../../images/carousel_small.png') top left no-repeat;
    }
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    #myCarousel
    {
        margin-top:16px ;
    }

    #myCarousel .item
    {
        /*Default background size*/
        height: 310px;
    }

    .carousel-caption
    {
        font-size:16px;
    }
    .carousel-caption h4
    {
        font-size: 22px;
    }


    #slide1
    {
        background: url('../../images/carousel_small.png') top left no-repeat;
    }

    #slide2
    {
        background: url('../../images/carousel_small.png') top left no-repeat;
    }

	
}

/* Large desktop */
@media (min-width: 1200px) {

    #myCarousel .item
    {
        /*Default background size*/
        height: 400px;
    }

    #slide1
    {
        background: url('../../images/carousel_large.png') top left no-repeat;
    }

    #slide2
    {
        background: url('../../images/carousel_large.png') top left no-repeat;
    }
	
}